.button{
  background-color: #ffffff;
  text-align: center;
  line-height: 18px;
  padding: 15px 24px;
  color: #000000;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 2px;
  margin: 0 auto 24px auto;
  display: inline-block;
  transition: all 0.3s ease;
  span{
    cursor: pointer;
  }
  &:hover{
    background-color: #000000;
    color: #ffffff;
  }
}