.main-screen{
  padding: 144px 30px 18px 30px;
  @media(min-width: 1920px){
    display: flex;
    align-items: center;
  }
  @media(min-height: 1080px){
    display: flex;
    align-items: center;
  }
  @media(max-height: 450px){
    padding: 30px 18px;
  }
  @media(max-width: 660px){
    padding: 30px 18px;
  }
  &__slider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__arrows{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    min-height: 90px;
    @media(max-height: 350px){
      top: 30%;
      transform: translate(0px, 0%);
    }
    @media(max-width: 660px){
      display: none;
    }
  }
  &__arrow{
    background-color: rgba(0, 0, 0, 0.4);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color:rgba(0, 0, 0, 0.5);
    }
  }
  &__content-wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    text-align: center;
    color: #fff;
    line-height: 78px;
    font-weight: 700;
    margin: 0 0 24px 0;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.5s ease 0.3s;
  }
  &__title._active{
    opacity: 1;
    transform: scale(1);
  }
  &__subtitle{
    text-align: center;
    color: #fff;
    font-weight: 500;
    @include adaptiv-value('font-size', 14, 12, 0);
    margin: 0 0 60px 0;
    transform: scale(1.2);
    opacity: 0;
    transition: all 0.5s ease 0.8s;
  }
  &__subtitle._active{
    opacity: 1;
    transform: scale(1);
  }
  &__button-wrapper{
    opacity: 0;
    transform: translateY(-40%);
    transition: all 0.5s ease 0.3s;
  }
  &__button-wrapper._active{
    opacity: 1;
    transform: translateY(0%);
  }
  &__button{
    min-width: 240px;
    min-height: 48px;
  }

  &__sub-button{
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-30%);
    transition: all 0.5s ease 0.8s;
    span{
      &:after{
        display: flex;
        content: '';
        height: 1px;
        width: 0%;
        background-color: rgba(248, 248, 248, 1);
        transition: all 0.5s ease;
        margin: -3px auto 0 auto;
      }
    }
    &:hover{
      span{
        &:after{
          width: 100%;
        }
      }
    }
  }
  &__sub-button._active{
    opacity: 1;
    transform: translateY(0%);
  }
  &__article{
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    font-size: 9px;
    position: absolute;
    bottom: 18px;
    left: 30px;
    letter-spacing: 1.64px;
    &_upper{
      text-transform: uppercase;
    }
    @media(max-width: 998px){
      display: none;
    }
  }
}
