
.overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8888;
    background-color: rgba(0,0,0,.9);
    transition: all 0.5s ease;
    width: 0%;
    height: 0%;
    border-radius: 50%;
}
.overlay.active{
    width: 150%;
    height: 250%;
    @media(min-width: 1300px){
        width: 150%;
        height: 200%;
    }
    @media(max-width: 1301px){
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
}
.modal{
    width: 420px;
    min-height: 434px;
    background-color: #fff;
    color: #000;
    padding: 30px 30px 36px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    @media(max-width: 485px){
        width: 320px;
    }
    @media(max-width: 352px){
        width: 300px;
    }
    &__subtitle{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: .5px;
        line-height: 24px;
        padding-bottom: 18px;
        text-align: center;
        box-shadow: 0 1px 0 0 #f0f0f0;
        margin-bottom: 18px;
    }
    &__forms{
        label{
            display: block;
            color: #3d3d3d;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .5px;
            line-height: 18px;
            margin-bottom: 6px;
        }
        input{
            display: block;
            width: 100%;
            padding: 11px 18px;
            font-size: 12px;
            letter-spacing: 0.5px;
            line-height: 18px;
            border: 1px solid #e0e0e0;
            margin-bottom: 18px;
        }

    }
    &__button{
        border-radius: 2px;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 28px;
        margin-bottom: 0;
        width: 100%;
        min-height: 48px;
        padding: 10px;
        text-align: center;
        line-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: all .4s ease;
        background-color: #000;
        color: #fff;
        font-weight: 700;
        &:focus, &:active{
            outline: none;
        }
        &:hover{
            background-color: rgba(0, 0, 0, .6)
        }
    }

}
.modal#register{
    min-height: 350px;
}

#preregister, #register{
    opacity: 0;
    transition: 0.3s all ease;
    visibility: hidden;
}

#preregister.active{
    opacity: 1;
    visibility: visible;
}
#register.active{
    opacity: 1;
    visibility: visible;
}

