@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: local('#{$file_name}'),
      url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}
@import 'basic/basic.scss';
@import 'basic/fonts.scss';
@import 'basic/ibg.scss';
@import 'basic/null.scss';
@import 'basic/variables.scss';
@import 'basic/mixins.scss';
@import 'basic/adaptive_properties.scss';
@import 'basic/title.scss';
@import 'modules/header.scss';
@import 'modules/main-slider.scss';
@import 'modules/inner-slider.scss';
@import 'modules/main.scss';
@import 'modules/button.scss';
@import 'modules/wrapper.scss';
@import 'modules/container.scss';

